{% extends "main.html" %}
{% block content %}
    {% if form.errors %}
        <div class="alert alert-danger">
            {{ form.errors }}
        </div>
    {% endif %}
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <p>Students: {{students.forename}} {{students.surname}}</p>
    </div>
    <div class="mb-3">
        <p>Kurss: {{kurss.module_name}} ({{kurss.module_code}})</p>
    </div>
    {{form}}
    <button type="submit" class="btn btn-primary">Saglabāt</button>
</form>
{% endblock %}