{% extends "main.html" %}
{% block content %}
<br>
<table class="table table-bordered text-center">
    <tr>
        <th>Vārds</th>
        <th>Uzvārds</th>
        <th>Kods</th>
        <th>Statuss</th>
        {% for k in kursi %}
            <th>{{k.module_name}} <a href="{% url 'kursi_labot_kursu' kursa_id=k.module_code %}"><i class="bi bi-pencil-square"></i></a>
            {% if k.aktivs %}
                <i class="bi bi-eye"></i>
            {%else%}
                <i class="bi bi-eye-slash"></i>
            {% endif %}
            </th>
        {% endfor %}
        <th>Vidējais</th>
        <th>Statuss</th>
        <th>Labot studentu</th>
    </tr>
    {% for st in dati %}
        <tr>
            <td>{{st.vards}}</td>
            <td>{{st.uzvards}}</td>
            <td>{{st.kods}} </td>
            <td>{{st.aktivs|yesno:"Aktīvs,Neaktīvs"}} </td>
            {% for k in kursi %}
                {% if st.aktivs %}
                    <td>
                        {% for kods,vertiba in st.kursu_dati.items %}
                            {% if kods == k.module_code %}
                                {% if vertiba.atzime is not None %}
                                    {% if vertiba.atzime.mark == 0 %}
                                        <span class="text-danger bold">N</span>
                                    {%else%}
                                        {{vertiba.atzime.mark}}
                                    {% endif %}
                                {% endif %} 
                            {% endif %}
                        {% endfor %}
                        {% if k.var_atzimes and k.aktivs %}
                         <a href="{% url 'studenti_labot_atzimi' kursa_id=k.module_code studenta_kods=st.kods %}"><i class="bi bi-pencil-square"></i></a>
                        {% endif %}
                    </td>
                {%else%}
                    <td></td>
                {% endif %}
            {% endfor %}
            {% if st.aktivs %}
                <td>{{st.papildus_info.videjais}}</td>
                <td>{{st.papildus_info.status}}</td>
            {%else%}
                    <td colspan="2"></td>
            {% endif %}
            <td><a href="{% url 'studenti_labot' studenta_nr=st.kods %}"><i class="bi bi-pencil-square"></i></a></td>
        </tr>
    {% endfor %}
</table>

<a class="btn btn-success" href="{% url 'kursi_labot_kursu' %}">Jauns Kurss</a>
<a class="btn btn-success" href="{% url 'studenti_labot' %}">Jauns Students</a>
{% endblock %}