{% extends "main.html" %}
 
{% block content %}
    {% for i in errors %}
     <div class="alert alert-danger">{{i}}</div>
    {% endfor %}
    <form method="post">
        {% csrf_token %}
       <label>Valsts</label> <input type="text" name="valsts" class="form-control">
       <input type="submit" class="btn btn-success">
    </form>
    <ol class="list-group list-group-numbered">
        {% for i in content %}
            <li class="list-group-item">{{i.name}}</li>
        {% endfor %}
    </ol>

     
{% endblock %}